# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

# =========================
# Общие временные файлы
# =========================
*.log
*.tmp
*.temp
*.swp
*.swo

# =========================
# Secrets / env
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.Python
.python-version

build/
dist/
site/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

# =========================
# Jupyter
# =========================
.jupyter/

# =========================
# C# / .NET
# =========================
bin/
obj/
[Bb]uild/
[Ll]og/
[Tt]est[Rr]esult*/
TestResults/
artifacts/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
*.snupkg

# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/

# =========================
# JetBrains (Rider / PyCharm)
# =========================
.idea/
*.iml
out/

# =========================
# Obsidian
# =========================
.obsidian/cache/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/*/data.json

ThirdLab Vault/

.~lock.*#
~$*
*~
*.tmp
*.bak
*.swp
*.swo

*.txt

BenchmarkDotNet.Artifacts/

Documents/
